{% extends "index.html" %}

{% block list %}
  <div class="columWrapper">
    {% for item in data %}
        <div class="taskWrapper {{ item._id }}">
          <form action="/todo/complete" class="cross" method="post">
            <button type="submit" name="delete" value="{{ item._id }}">
              <i class="fas fa-times"></i>
            </button>
          </form>
          {% if (id._id != item._id) %}
            <form action="/todo/edit" class="task" id="task" method="post">
              <button type="submit" name="edit" value="{{ item._id }}">
                {{ item.task }}
              </button>
            </form>
          {% elif(id._id == item._id) %}
          <form action="/todo/edit/submit" class="taskedit" method="post">
            <input type="text" name="{{ item._id }}" value="{{ item.task }}"/>
            <button type="submit" value="{{ item._id }}">
              <i class="fas fa-check"></i>
            </button>
          </form>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% endblock %}