/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #222;
	background-color: #FaFaFa;
	text-align: center;
  line-height: 1.4em;
  width: 100%;
  height: 100%;
}

h1 {
  margin: 1em;
}

.container {
	padding: 0;
	margin-top: 40px;
}

.footer {
  margin-top: 2em;
  font-size: 0.8em;
}

#TodoBlock {
  margin: 10px auto;
  padding: 20px;
  min-width: 550px;
  border: solid 1px black;
  border-radius: 5px;
  background-color: rgb(243, 243, 243);
}

.taskWrapper {
  display: flex;
  align-items: stretch;
  border: solid 1px black;
  border-radius: 5px;
  margin: 0.5em;
  padding-left: 0.5em;
  min-height: 50px;
  max-width: 600px;
  flex-basis: 0;
  background-color: white;
}

label {
  margin-right: 10px;
}

input {
  padding: 5px;
}

input[type=text] {
  width: 300px;
  text-align: center;
}

#TodoRender {
  text-align: left;
}

.newTask {
  margin-top: 1em;
}

.tick {
  margin: auto;
  padding-right: 0.5em;
}

.task, .taskEdit {
  display: flex;
  flex-grow: 1;
}

.task > button, .taskEdit > input {
  width: 100%;
  text-align: left;
  min-height: 100%;
  padding-left: 0.5em;
  border: none;
  background-color: transparent;
  font-size: 16px;
}

.taskEdit > button {
  margin: auto;
  margin-right: 0.5em;
  margin-left: 0.5em;
  text-align: center;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
  outline: inherit;
  padding-left: 0.3em;
  padding-right: 0.3em;
  font-size: 1.2em;
}

button:active {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
  outline: inherit;
  padding-left: 0.3em;
  padding-right: 0.3em;
  font-size: 1.2em;
}

button:focus {
  background: none;
	color: inherit;
  border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
  outline: inherit;
  padding-left: 0.3em;
  padding-right: 0.3em;
  font-size: 1.2em;
}

.task:hover {
  background-color: hsl(0, 0%, 98%);
  font-weight: bold;
}

a, a:hover {
  color: inherit; 
  text-decoration: inherit;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}