/****** Main Styling ******/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #222;
	background-color: #FaFaFa;
	text-align: center;
    line-height: 1.4em;
    width: 100%;
    height: 100%;
}

.container {
	padding: 0;
	margin-top: 40px;
}

.footer {
	margin-top: 10px;
}

form {
  border: solid 1px black;
  border-radius: 5px;
  margin: 10px auto;
  padding: 20px;
  max-width: 600px;
}

label {
  margin-right: 10px;
}

input {
  padding: 5px;
}

input[type=text] {
  width: 300px;
  text-align: center;
}

#TodoBlock {
  margin: 10px auto;
  padding: 20px;
  min-width: 550px;
  border: solid 1px black;
  border-radius: 5px;
}

#TodoRender {
  text-align: left;
}

button {
  margin-right: 0.5em;
}

li {
  list-style-type: none;
}